<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.door.mapper.DoorOpenRecordMapper">
    <resultMap type="com.ruoyi.project.door.domain.DoorOpenRecord" id="DoorOpenRecordResult">
        <result property="id"    column="id"    />
        <result property="number" column="number" />
        <result property="recordTime"    column="record_time"    />
        <result property="contrastingPicture"    column="contrasting_picture"    />
        <result property="originalPicture"    column="original_picture"    />
        <result property="compatibility"    column="compatibility"    />
        <result property="endTime" column="end_time"  />
    </resultMap>
    <resultMap type="com.ruoyi.project.door.domain.vo.DoorOpenRecordVo" id="DoorOpenRecordAndUserInfoResult">
        <result property="name"    column="name"    />
        <result property="number" column="number" />
        <result property="recordTime"    column="record_time"    />
        <result property="contrastingPicture"    column="contrasting_picture"    />
        <result property="originalPicture"    column="original_picture"    />
        <result property="compatibility"    column="compatibility"    />
    </resultMap>

    <sql id="selectDoorOpenRecordVo">
        select id, record_time,number,contrasting_picture, original_picture, compatibility,end_time from door_open_record
    </sql>
    <sql id="selectDoorOpenRecordAndUserInfoVo">
        select  u.number,u.`name`,d.record_time,d.original_picture,d.contrasting_picture,d.compatibility
        from door_open_record d
    </sql>

    <select id="selectDoorPeople" resultType="integer" parameterType="String">
        select count(id) from door_open_record where record_time > #{startTime} and record_time &lt; #{endTime}
    </select>

    <select id="selectDoorOpenRecordList" parameterType="com.ruoyi.project.door.domain.vo.DoorOpenRecordVo" resultMap="DoorOpenRecordAndUserInfoResult">
        <include refid="selectDoorOpenRecordAndUserInfoVo"/>
        LEFT JOIN user_info u ON d.number = u.number
        <where>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="number != null">and u.number = #{number}</if>
            <if test="recordTime != null "> and record_time = #{recordTime}</if>
            <if test="contrastingPicture != null  and contrastingPicture != ''"> and contrasting_picture = #{contrastingPicture}</if>
            <if test="originalPicture != null  and originalPicture != ''"> and original_picture = #{originalPicture}</if>
            <if test="compatibility != null "> and compatibility = #{compatibility}</if>
        </where>
    </select>
    
    <select id="selectDoorOpenRecordById" parameterType="Integer" resultMap="DoorOpenRecordResult">
        <include refid="selectDoorOpenRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDoorOpenRecord" parameterType="com.ruoyi.project.door.domain.DoorOpenRecord" useGeneratedKeys="true" keyProperty="id">
        insert into door_open_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">number,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="contrastingPicture != null and contrastingPicture != ''">contrasting_picture,</if>
            <if test="originalPicture != null and originalPicture != ''">original_picture,</if>
            <if test="compatibility != null">compatibility,</if>
            <if test="endTime != null">end_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">#{number},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="contrastingPicture != null and contrastingPicture != ''">#{contrastingPicture},</if>
            <if test="originalPicture != null and originalPicture != ''">#{originalPicture},</if>
            <if test="compatibility != null">#{compatibility},</if>
            <if test="endTime != null">#{endTime},</if>
         </trim>
    </insert>

    <update id="updateDoorOpenRecord" parameterType="com.ruoyi.project.door.domain.DoorOpenRecord">
        update door_open_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="number != null"> number = #{number},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="contrastingPicture != null and contrastingPicture != ''">contrasting_picture = #{contrastingPicture},</if>
            <if test="originalPicture != null and originalPicture != ''">original_picture = #{originalPicture},</if>
            <if test="compatibility != null">compatibility = #{compatibility},</if>
            <if test="endTime != null and endTime != ''">end_time = #{endTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDoorOpenRecordById" parameterType="Integer">
        delete from door_open_record where id = #{id}
    </delete>

    <delete id="deleteDoorOpenRecordByIds" parameterType="String">
        delete from door_open_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>