<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.door.mapper.UserInfoMapper">
    
    <resultMap type="com.ruoyi.project.door.domain.UserInfo" id="UserInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="number" column="number" />
        <result property="sex"    column="sex"    />
        <result property="originalPicture"    column="original_picture"    />
        <result property="startTime"    column="start_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>

    <sql id="selectUserInfoVo">
        select id, name, number,sex, original_picture, start_time, end_time , is_delete from user_info
    </sql>

    <select id="selectUserNumber" resultType="integer">
        select count(id) from user_info
    </select>


    <select id="selectUserInfoList" parameterType="com.ruoyi.project.door.domain.UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        <where>
            <if test="id != null" >and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="number != null">and number = #{number}</if>
            <if test="sex != null"> and sex = #{sex}</if>
            <if test="originalPicture != null  and originalPicture != ''"> and original_picture = #{originalPicture}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="isDelete != null">and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectUserInfoById" parameterType="Integer" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        where id = #{id}
    </select>
<!--    根据创建时间将用户信息表排序只取前4条数据-->
    <select id="selectAllOrderByStartTime" resultMap="UserInfoResult">
        SELECT * FROM user_info
        ORDER BY start_time desc
        limit 4
    </select>
<!--    查询用户到期时间 单位为天 前6条-->
    <select id="selectUserDeadline" resultType="com.ruoyi.project.door.domain.vo.UserInfoVo">
        SELECT name,TIMESTAMPDIFF(DAY,NOW(),end_time) deadline
        FROM user_info
        WHERE TIMESTAMPDIFF(DAY,NOW(),end_time) > 0
        ORDER BY deadline
        LIMIT 6
    </select>
    <insert id="insertUserInfo" parameterType="com.ruoyi.project.door.domain.UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="sex != null">sex,</if>
            <if test="number != null">number,</if>
            <if test="originalPicture != null and originalPicture != ''">original_picture,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="number != null">#{number},</if>
            <if test="originalPicture != null and originalPicture != ''">#{originalPicture},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateUserInfo" parameterType="com.ruoyi.project.door.domain.UserInfo">
        update user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="number != null">number = #{number},</if>
            <if test="originalPicture != null and originalPicture != ''">original_picture = #{originalPicture},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserInfoById" parameterType="Integer">
        delete from user_info where id = #{id}
    </delete>

    <delete id="deleteUserInfoByIds" parameterType="String">
        delete from user_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateUserInfoByIds" parameterType="String">
        update user_info set is_delete = 1
        where id in
        <foreach item="id"  collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>